*{
        margin: 0 ;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        font-family: sans-serif;
        background-color: black;
    }
    .container{
        margin: 10rem auto;
        width: 500px;
        background: rgb(51, 51, 51);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 1rem;
        padding: 1.5rem;
        border-radius: 20px;
        overflow: hidden;
        border: 3px solid rgb(61, 61, 61);;
    }
    form{
        display: flex;
        justify-content: space-between;
        border-radius: 10px;
        overflow: hidden;
    }
    form input{
        flex-grow: 1;
        padding: 1rem;
        cursor: pointer;
        border: none;
        outline: none;
        font-size: 1.1rem;
        background-color: rgb(84, 84, 84);
        color: gold;
        font-weight: bold;
    }
       .add{
        letter-spacing: 3px;
        background: rgb(123, 119, 119);
        padding: 0 2rem;
        border: none;
        outline: none;
        cursor: pointer;
        font-size: 1.3rem;
        color: rgb(228, 196, 15);
        font-weight: bold ;
    }
    .clear{
        padding: 1rem;
        font-size: 1.3rem;
        letter-spacing: 3px;
        background-color: rgb(122, 105, 5);
        border-radius: 20px;
        border: none;
        outline: none;
        cursor: pointer;
        color: white;
        font-weight: bold;
    }
    .list-container{
       display: flex;
       flex-direction: column-reverse;
        gap: 1rem;
        margin: 1.5rem 0 2rem 0;
        padding: 0 0.5rem;
    }
    li{
        list-style-type: none;
        font-size: 1.3rem;
        display: flex;
        gap: 0.5rem;
        color: #ffff;
        justify-content: space-between;
        /* user-select: none; */
        padding-bottom: 0.7rem;
        border-bottom: 1px solid gray ;
    }
    li.completed{
        opacity: 0.5;
        font-style: italic;
    }
    li.completed i{
        color: gray;
    }
    li i{
        color: gold;
    }
    .count-task{
        font-size: 1.2rem;
        color: #ffff;
        font-weight: bold;
    }